$border-radius: 0.5rem !default;
$navbar-height: 100px !default;
$navbar-height-mobile: 120px !default;
$border-width: 1px !default;
$border-color: $black !default;
$container-width: 1200px !default;

@mixin custom-border {
    border: $border-width solid $border-color;
}

@mixin container-setting {
    max-width: $container-width;
    margin-left: 1rem;
    margin-right: 1rem;
    @include media-sm {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
    @media screen and (min-width: calc(1200px + 3rem)) {
		margin-left: auto;
        margin-right: auto;
	}
}

// 背景圖片
@mixin backgroundImage {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

// 圖片填滿容器
@mixin aspect-ratio-container($ratio) {
    position: relative;
    display: block;
    overflow: hidden;

    &::before {
        content: '';
        display: block;
        padding-bottom: $ratio;
    }

    > img {
        position: absolute;
        top: 0;
        left: 0;
        
        // 圖片自動填滿外層容器（不變形）
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: 0.5s ease-in-out;
    }
}